# General
*/.*
.vagrant

# claudeCode
.claude
CLAUDE.md
claudedocs

# for macOS
.DS_Store
.AppleDouble
.LSOverride
## Icon must end with  \r
Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# for Python and Jupyter
__pycache__
*/*.pyc
## Jupyter
.Trash-0
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*.ipynb

